
html,body, #root {
    height: 100%;
}

#root {
    display: flex;
    justify-content: center;
    padding: 2%;
}

body {
    padding: auto;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

.container {
    border-radius: 15px;
    background-color: black;
    width: 1300px;
    height: 700px;
    display: block;
}