
html,body, #root {
    height: 100%;
}

body {
    padding: auto;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

.container {
    background-color: black;
    width: 100%;
    height: 100%;
    display: block;
}