
html,body, #root {
    height: 100%;
}

#root {
    padding: 2%;
}

body {
    padding: auto;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

.container {
    border-radius: 100px;
    background-color: black;
    width: 100%;
    height: 100%;
    display: block;
}