
html,body {
    height: 100%;
}

body {
    margin: auto;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}


.container {
    background-color: black;
    width: 100%;
    height: 100%;
}