
html,body, #root {
    height: 100%;
}

#root {
    display: flex;
    justify-content: center;
    padding: 2%;
}

body {
    padding: auto;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    border-radius: 15px;
    background-color: black;
    width: 1800px;
    height: 1200px;
    flex-direction: column;
}

.bottom_box {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}