
html,body, #root {
    height: 100%;
}

#root {
    padding: 2%;
}

body {
    padding: auto;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

.container {
    border-radius: 15px;
    background-color: black;
    width: 100;
    max-width: 1600px;
    height: 100%;
    display: block;
}